.verification {
    position: relative;
    height: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.verification::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/verification/Rectangle1612.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.verification__container {
    height: 100%;
}

.verification__container * {
    z-index: 10;
}

.verification__info h2 {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
}

.verification__info span {
    display: block;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.verification__info {
    margin: 0 auto;
}

.verification__phone {
    Width: 332, 56px;
    Height: 667, 15px;
}

.verification__phone>img {
    width: 332px;
}

.verification__container>*:nth-child(2) {
    position: absolute;
    bottom: 23%;
    right: 43.6%;
}

.verification__container>*:nth-child(3) {
    position: absolute;
    bottom: 23%;
    right: 70.6%;
}

.verification__info {
    grid-template-rows: 1fr 1fr;
    width: 400px;
    position: absolute;
    bottom: 26%;
    right: 6%;
}

@media (min-width: 375px),(max-width: 375px) {
    .verification__container {
        width: 345px;
        margin: 0 auto;
    }

    .verification {
        height: fit-content;
    }

    .verification__info h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .verification__info span {
        font-size: 16px;
        line-height: 22px;
    }

    .verification__info {
        margin-top: 40%;
        position: relative;
        display: block;
        bottom: 81%;
        width: 345px;
        right: 0%;
    }

    .verification__container>*:nth-child(2) {
        margin-top: 10%;
        position: relative;
        display: block;
        width: 345px;
        bottom: 39%;
        right: 0%;
    }

    .verification__container>*:nth-child(3) {
        margin-top: 10%;
        position: relative;
        display: block;
        bottom: 0%;
        right: 0%;
    }
}

@media (min-width: 500px) {
    .verification__info {
        margin-top: 60%;
    }
}

@media (min-width: 550px) {
    .verification__info {
        margin-top: 80%;
    }

    .verification__info h2 {
        font-size: 51px;
        line-height: 62px;
    }

    .verification__info span {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (min-width: 1070px) {
    .verification__container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-gap: 60px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 18%;
    }
    .verification__phone>img {
        width: 220px;
    }

    .verification__info {
        grid-column: 3;
        grid-row: 1/2;
        margin-top: 67%;
        bottom: 0%;
        width: unset;
        right: 0%;
    }

    .verification__container>*:nth-child(2) {
        grid-column: 1;
        grid-row: 1/2;
        margin-top: 150px;
        bottom: 0%;
        right: 0%;
        width: unset;
    }

    .verification__container>*:nth-child(3) {
        margin-top: 150px;
        grid-column: 2;
        grid-row: 1/2;
    }
}
@media (min-width: 1350px){
    .verification__container>*:nth-child(2) {
        margin-top: 0;
    }

    .verification__container>*:nth-child(3) {
        margin-top: 0;
    }
    .verification__container{
        margin-top: 27%;
        width: 1300px;
    }
    .verification__phone>img{
        width: unset;
    }
}
@media (min-width: 1445px){
    .verification__container{
        margin-top: 33%;
    }
}