.cookies {
    position: relative;
    max-width: 100%;
    height: 9vh;
}

.cookies__container {
    position: absolute;
    top: 0;
    left: 0%;
    right: 0%;
    bottom: 0;
    max-width: 100%;
    background: #212834;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 10px;
    align-content: center;
    padding: 0 24px 0 100px;
}

._cookies-active {
    left: -130%;
    transition: all .5s ease;
}
._cookies-hidde{
    display: none;
}

.cookies span {
    color: #fff;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.cookies__container *:nth-child(1) {
    display: grid;
    align-items: center;
}

.cookies__container>*:nth-child(2):hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.048);
}

.cookies__container>*:nth-child(2) {
    display: grid;
    align-items: flex-end;
}

.cookies__butt {
    text-decoration: none;
    color: #fff;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    width: 132px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 776px) {
    .cookies {
        grid-row: unset;
    }
}
@media (max-width: 776px) {
    .cookies {
        grid-row: 3;
    }

    .cookies__container {
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 520px) {
    .cookies__container *:nth-child(1) {
        font-size: 12px;
        line-height: 16px;
        width: 249px;
    }

    .cookies__container .cookies__butt {
        width: 70px;
        font-size: 14px;
        line-height: 19px;
    }
}