footer {
    position: relative;
    margin-top: 100px;
    height: 605px;
    overflow: hidden;
}

footer::after {
    content: "";
    position: absolute;
    bottom: -190px;
    left: -160px;
    width: 406px;
    height: 412px;
    border-radius: 50%;
    background: linear-gradient(12.08deg, #F101BF 22.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(40px);
    transform: rotate(5.78deg);
    z-index: -10;
}

.footer__download-container {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
}

.footer__download-container h2 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer__download-container a {
    width: fit-content;
    height: fit-content;
    margin: 30px;
}

.footer__download-container a:hover {
    position: relative;
    bottom: 4px;
}

.footer__contact * {
    display: block;
    margin: 10px;
}

.footer__under-ifno {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
}

.footer__contact *:nth-child(2),
.footer__contact *:nth-child(3) {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 171px;
}

.footer__contact *:nth-child(4) {
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer__privcy {
    height: 100%;
}

.footer__privcy div {
    float: right;
    width: 140px;
}

.footer__privcy a {
    margin-top: 35px;
    display: block;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

}

@media (max-width:675px) {
    .footer__download-container a>img {
        width: 185px;
        height: 60px;
    }

    .footer__download-container a {
        width: 185px;
        height: 60px;
    }
}

@media (max-width:493px) {
    .footer__download-container {
        margin-bottom: 0px;
    }

    .footer__under-ifno {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
    }

    .footer__contact img {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer__privcy a {
        margin-top: 25px;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
    }

    .footer__privcy {
        grid-row: 1;
        width: fit-content;
        margin: 0 auto;
    }

    .footer__privcy div {
        float: unset;
    }

    .footer__contact * {
        margin: 0;
    }

    .footer__contact {
        margin-top: 20px;
    }

    .footer__contact *:nth-child(2) {
        display: inline;
        width: fit-content;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
    }

    .footer__contact *:nth-child(3) {
        display: inline;
        width: fit-content;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
    }

    .footer__download-container h2 {
        font-size: 24px;
        line-height: 33px;
    }
}