.qr-code {
    height: 150vh;
}

.qr-code__background {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.qr-code__background * {
    height: 682px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qr-code__background img {
    position: absolute;
    top: -110px;
    right: 143px;
    z-index: 10;
    width: 158.61px;
    height: 104.24px;
}

.qr-code__background img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/qr/Rectangle1613.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qr-code__info {
    position: relative;
}

.qr-code__info-container {
    position: absolute;
    top: -130px;
    left: 300px;
}

.qr-code__info-container h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
}

.qr-code__info-container span {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.qr-code__store-butt {
    margin-top: 40px;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 30px;
}

.qr-code__phone *:nth-child(1) {
    position: absolute;
    top: -290px;
    left: 750px;
    z-index: 10;
}

.qr-code__phone *:nth-child(2) {
    position: absolute;
    top: -90px;
    right: 280px;
    z-index: 10;
}


@media (min-width: 375px),
(max-width: 375px) {
    .qr-code {
        height: 235vh;
    }

    .qr-code__background {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 261px;
    }

    .qr-code {
        width: 100vw;
    }

    .qr-code__info-container h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .qr-code__info-container span {
        font-size: 16px;
        line-height: 22px;
    }

    .qr-code__background * {
        height: 38vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .qr-code__store-butt>a {
        width: 185px;
    }

    .qr-code__store-butt>a:hover {
        position: relative;
        bottom: 4px;
    }


    .qr-code__info-container {
        top: -770px;
        left: unset;
        right: 10%;
        width: 308px;
    }

    .qr-code__store-butt {
        width: 185px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
    }

    .qr-code__background::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 335px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .qr-code__background *:nth-child(3) {
        background-position-x: 63px;
    }

    .qr-code__background img {
        top: 670px;
        left: unset;
        right: 53%;
        width: 128.46px;
        height: 64.62px;
    }

    .qr-code__phone *:nth-child(1) {
        top: 503px;
        right: 13%;
        left: unset;
        bottom: 0;
        width: 281px;
        width: 281px;
    }

    .qr-code__phone *:nth-child(2) {
        top: -107px;
        right: 13%;
        left: unset;
        bottom: 0;
        width: 281px;
    }

    .qr-other__container {
        width: 100vw;
    }
}

@media (min-width: 499px) {
    .qr-code__background img {
        top: 629px;
        right: 64%;
    }

    .qr-code__phone *:nth-child(1) {
        right: 23%;
    }

    .qr-code__phone *:nth-child(2) {
        right: 23%;
    }

    .qr-code__info-container {
        right: 17%;
    }

    .qr-code__background *:nth-child(3) {
        background-position-x: 0;
    }
}

@media (min-width: 699px) {
    .qr-code__background img {
        right: 74%;
    }

    .qr-code__phone *:nth-child(1) {
        right: 33%;
        top: 443px;
    }

    .qr-code__phone *:nth-child(2) {
        top: -157px;
        right: 33%;
    }

    .qr-code__info-container {
        right: 27%;
    }

    .qr-code__background *:nth-child(3) {
        background-position-x: 0;
    }
}

@media (min-width: 799px) {
    .qr-code__background {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .qr-code__background::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../img/qr/Rectangle1613.png);
        background-size: cover;
    }

    .qr-code__info-container {
        top: -470px;
        right: unset;
        left: 8%;
    }

    .qr-code__background img {
        right: 4%;
        top: -17px;
    }

    .qr-code__phone *:nth-child(2) {
        top: -557px;
        right: 33%;
        width: 170px;
    }

    .qr-code__phone *:nth-child(1) {
        top: -457px;
        right: 7%;
        width: 170px;
    }

    .qr-code {
        height: 75vh;
    }
}

@media (min-width: 1050px) {
    .qr-code__background {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .qr-code__background::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../img/qr/Rectangle1613.png);
        background-size: cover;
    }

    .qr-code__info-container {
        top: -400px;
        left: 5%;
    }

    .qr-code__background img {
        right: 4%;
        top: -67px;
    }

    .qr-code__phone *:nth-child(2) {
        top: -557px;
        right: 37%;
        width: 270px;
    }

    .qr-code__phone *:nth-child(1) {
        top: -457px;
        right: 7%;
        width: 270px;
    }

    .qr-code {
        height: 100vh;
    }
}

@media (min-width: 1350px) {
    .qr-code {
        margin-top: 120px;
    }

    .qr-code__background {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .qr-code__background::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../img/qr/Rectangle1613.png);
        background-size: cover;
    }

    .qr-code__info-container {
        top: -793px;
        left: 7%;
    }

    .qr-code__background img {
        right: 4%;
        top: -67px;
    }

    .qr-code__phone *:nth-child(2) {
        top: -1057px;
        right: 38%;
        width: unset;
    }

    .qr-code__phone *:nth-child(1) {
        top: -703px;
        right: 7%;
        width: unset;
    }

    .qr-code {
        height: 150vh;
    }

    .qr-code__background * {
        height: 617px;
    }

    .qr-code__background::after {
        height: 617px;
    }

    .qr-code__info-container h2 {
        font-size: 51px;
        line-height: 62px;
    }

    .qr-code__info-container span {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (min-width: 1650px) {
    .qr-code__phone *:nth-child(2) {
        top: -1057px;
        right: 40%;
        width: unset;
    }

    .qr-code__phone *:nth-child(1) {
        top: -793px;
        right: 14%;
        width: unset;
    }

    .qr-code__info-container {
        top: -751px;
        left: 13%;
    }
}